<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.brainmote.lookatme"
    android:versionCode="3"
    android:versionName="1.2" >

    <!-- Necessary to chord framework -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!--
	Optional: A node cannot receive a UDP broadcast if it is in LCD-off status. 
	Therefore, if developers want the node to discover other nodes while the 
	application is running, the node’s status should be set to LCD-on.
    -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/title_splash_activity"
            android:noHistory="true"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NearbyActivity"
            android:label="@string/title_social_activity" >
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:label="@string/title_profile_activity"
            android:parentActivityName=".NearbyActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".NearbyActivity" />
        </activity>
        <activity
            android:name=".EditProfileActivity"
            android:label="@string/title_profile_activity"
            android:parentActivityName=".NearbyActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".NearbyActivity" />
        </activity>
        <activity
            android:name=".ManageInterestActivity"
            android:label="@string/title_manage_interest_activity"
            android:parentActivityName=".EditProfileActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".EditProfileActivity" />
        </activity>
        <activity
            android:name=".AddInterestActivity"
            android:label="@string/title_add_interest_activity"
            android:parentActivityName=".ManageInterestActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ManageInterestActivity" />
        </activity>
        <activity
            android:name=".ChatConversationsActivity"
            android:label="@string/title_messages_activity"
            android:parentActivityName=".NearbyActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".NearbyActivity" />
        </activity>
        <activity
            android:name=".ChatMessagesActivity"
            android:label="@string/title_chat_activity"
            android:parentActivityName=".ChatConversationsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MessagesActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_settings_activity"
            android:parentActivityName=".NearbyActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".NearbyActivity" />
        </activity>
        <activity
            android:name=".HelpActivity"
            android:label="@string/title_help_activity"
            android:parentActivityName=".NearbyActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".NearbyActivity" />
        </activity>

        <service
            android:name="com.brainmote.lookme.service.impl.BusinessLogicServiceImpl"
            android:enabled="true" >
            <intent-filter>
                <action android:name="com.brainmote.lookme.service.BusinessLogicOperationsImpl.SERVICE_START" />
                <action android:name="com.brainmote.lookme.service.BusinessLogicOperationsImpl.SERVICE_STOP" />
            </intent-filter>
        </service>
    </application>

</manifest>